{% extends 'miaplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Compradores
{% endblock titulo %}

{% block cabecera %}
    Lista de Compradores
{% endblock cabecera %}
    
{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Direccion</th>
        <tr>
    </thead>
    <tbody>
    {% for Comprador in compradores %}
    <tr>
        <td>{{ Comprador.id }}</td>
        <td>{{ Comprador.nombre }}</td>
        <td>{{ Comprador.apellido }}</td>
        <td>{{ Comprador.correo }}</td>
        <td>{{ Comprador.direccion }}</td>
     </tr>
    {% endfor %}
     </tbody>
     </table>
{% endblock contenido %}
