<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    Productos del Inventario {{ producto }}

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio $</th>
                <th>Cantidad</th>
            <tr>
        {% for Producto in productos %}
        <tr>
            <td>{{ Producto.id }}</td>
            <td>{{ Producto.nombre }}</td>
            <td>{{ Producto.precio }}</td>
            <td>{{ Producto.cantidad }}</td>
         </tr>
         {% endfor %}
        </tbody>
        </table>    
</body>
</html>